.bloombergInput {
    background: lightblue;
    color: blue;
   /* border: 5px solid blue;*/
    padding: 10px;  
    
}
.bloombergResponseE, .bloombergResponseS {
    margin: 10px;
    border-width: 3px;
    border-style: double;
    padding: 10px;
}
.bloombergResponseS {
    border-color: green;
}
.bloombergResponseE {
    border-color: red;
}

input, button, label, select {
    font-size: 15px;
    padding: 3px;
    margin: 5px;
    /*width:contain;*/
}

#quoteUrl, #proxyUrl {
    width: 85%
}

button {
    font-weight: bold;
    padding: 10px;
    margin: 20px;
    /*width: 100%*/
}

.bloombergTimeStamp {
    text-align: right;
    font-size: 15px;
    margin: 0;
    padding:0;
}

.bloombergTime{
    margin-left: 50px;
}